@keyframes underline-slide {
  0% {
    opacity: 0;
    left: -10px;
    right: 10px; }
  100% {
    opacity: 1;
    left: 0px;
    right: 0px; } }

@keyframes underline-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pulse {
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes draw {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1400; }
  50% {
    stroke-dashoffset: 1400;
    stroke-dasharray: 300; }
  90% {
    stroke-dashoffset: 50;
    stroke-dasharray: 1200; } }

@keyframes grow-slide {
  0% {
    opacity: 0;
    transform: translate(0px, 0px); }
  1% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 0.25;
    transform: translate(-10px, 0px); }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(1.6); }
  80% {
    opacity: 0;
    transform: scale(1.6); }
  100% {
    opacity: 1;
    transform: scale(1); } }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ededed;
  background-color: #21292e;
  background-image: url("../img/subtle-prism.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed; }

h1::selection, h2::selection, h3::selection, h4::selection, p::selection {
  background: #82CACB; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 3rem; }

p {
  font-size: 1.7rem; }

a {
  color: inherit;
  text-decoration: none; }
  a#no-link {
    cursor: default;
    background: none; }
    a#no-link:hover {
      color: #E8627B; }
      @media screen and (max-width: 769px) {
        a#no-link:hover {
          color: inherit; } }

body.about,
body.contact {
  display: flex;
  justify-content: space-between; }

.reveal-page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  opacity: 0; }
  @media screen and (max-width: 769px) {
    .reveal-page {
      margin: 0;
      display: flex; } }
  @media screen and (max-width: 600px) {
    .reveal-page {
      padding: 0 1.5rem; } }

.page-title {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative; }
  .page-title:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0.4rem;
    background: #E8627B;
    opacity: 0;
    left: -10px;
    right: 10px;
    animation: underline-slide 1s ease-in-out 0.5s 1 forwards; }
    @media screen and (max-width: 769px) {
      .page-title:before {
        margin-left: 1rem; } }
    @media screen and (max-width: 600px) {
      .page-title:before {
        margin-left: 0; } }
  @media screen and (max-width: 769px) {
    .page-title {
      align-self: flex-start;
      font-size: 6rem;
      padding-left: 1rem; } }
  @media screen and (max-width: 600px) {
    .page-title {
      font-size: 15vw;
      padding-left: 0; } }
  @media screen and (max-width: 500px) {
    .page-title {
      margin-top: 2rem;
      text-align: center; } }

.site-header {
  display: flex;
  width: 100%;
  padding: 2rem;
  height: auto; }
  @media screen and (max-width: 500px) {
    .site-header {
      padding: 1rem; } }
  .site-header .logo-holder {
    display: flex;
    align-items: center;
    height: fit-content; }
    @media screen and (max-width: 769px) {
      .site-header .logo-holder {
        margin-left: 0; } }
    .site-header .logo-holder .home-logo {
      height: 100px;
      width: auto; }
      @media screen and (max-width: 500px) {
        .site-header .logo-holder .home-logo {
          height: 60px; } }
      .site-header .logo-holder .home-logo:hover {
        animation-name: pulse;
        animation-duration: 500ms; }
  .site-header .main-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    max-height: 100px; }
    .site-header .main-nav .tag {
      background: linear-gradient(to bottom, #82CACB 0%, #82CACB 100%);
      margin: 0 2rem;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      background-position: 0 50%;
      background-repeat: repeat-x;
      background-size: 0px 0px;
      text-decoration: none;
      transition: background-size .07s ease-in-out; }
      @media screen and (max-width: 769px) {
        .site-header .main-nav .tag {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
          margin: 0 0.3rem;
          font-size: 1.2rem;
          transition: background-size .7s ease-in-out; } }
      @media screen and (max-width: 500px) {
        .site-header .main-nav .tag {
          align-self: flex-end;
          font-size: 0.9rem; } }
      .site-header .main-nav .tag:hover {
        background-size: 1px 40px;
        color: #282828;
        transition: background-size 0.07s ease-in-out; }
        @media screen and (max-width: 769px) {
          .site-header .main-nav .tag:hover {
            color: #fafafa; } }

.orange-square {
  stroke-dashoffset: 0;
  stroke-dasharray: 1400;
  animation: draw 4s ease-in-out 2s 1;
  fill-opacity: 0; }

.pink-square {
  stroke-dashoffset: 0;
  stroke-dasharray: 1400;
  animation: draw 5s ease-in-out 1s 1;
  fill-opacity: 0; }

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .footer .social-links {
    display: flex;
    padding-left: 1rem; }
    @media screen and (max-width: 600px) {
      .footer .social-links {
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column; } }
  .footer .social-link {
    margin: 0rem 1rem;
    transform: translateY(0px);
    transition: transform 0.3s; }
    @media screen and (max-width: 769px) {
      .footer .social-link {
        transition: none; } }
    .footer .social-link:hover {
      transform: translateY(-5px);
      transition: transform 0.3s; }
      @media screen and (max-width: 769px) {
        .footer .social-link:hover {
          transform: translateY(0px);
          transition: none; } }
    .footer .social-link a img {
      height: 50px;
      width: auto; }
      @media screen and (max-width: 769px) {
        .footer .social-link a img {
          margin: 1rem 0; } }
      @media screen and (max-width: 600px) {
        .footer .social-link a img {
          margin: 1rem 0; } }
      @media screen and (max-width: 500px) {
        .footer .social-link a img {
          margin: 0.5rem 0;
          height: 30px; } }
  .footer .copyright {
    margin-right: 2rem; }
    @media screen and (max-width: 769px) {
      .footer .copyright {
        margin-top: 1.8rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center; } }
    @media screen and (max-width: 600px) {
      .footer .copyright {
        align-self: flex-end;
        font-size: 0.8rem; } }

.home .main-title {
  margin: 0;
  padding: 0;
  position: relative; }
  .home .main-title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    height: 6px;
    width: -webkit-fill-available;
    background: #E8627B;
    left: 0px;
    right: 0px;
    z-index: 0; }
  @media screen and (max-width: 769px) {
    .home .main-title {
      margin-top: 4rem;
      font-size: 6rem; } }
  @media screen and (max-width: 600px) {
    .home .main-title {
      font-size: 4.9rem; } }
  @media screen and (max-width: 500px) {
    .home .main-title {
      font-size: 4rem;
      padding: 0 1rem;
      margin-top: 3rem;
      text-align: center; } }

.home .subtitle {
  margin-top: 1rem;
  font-size: 3rem; }
  @media screen and (max-width: 600px) {
    .home .subtitle {
      font-size: 2rem;
      margin-top: 0.6rem; } }
  @media screen and (max-width: 600px) {
    .home .subtitle {
      font-size: 1.6rem;
      margin-top: 0.6rem; } }

.home #typewriter {
  display: flex;
  background-color: #82CACB;
  padding: 1rem;
  font-size: 4rem;
  margin: 4rem auto 0 auto; }
  @media screen and (max-width: 769px) {
    .home #typewriter {
      font-size: 4.5vw; } }
  @media screen and (max-width: 500px) {
    .home #typewriter {
      margin: 1rem auto 0 auto;
      padding: 0.3rem;
      font-size: 8vw; } }
  .home #typewriter .Typewriter__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: #282828; }
  .home #typewriter .Typewriter__cursor {
    color: #282828; }

.about .holder {
  height: fit-content;
  width: 200px;
  float: left; }
  .about .holder #svg1 {
    position: relative;
    height: 100px;
    width: auto; }
    @media screen and (max-width: 500px) {
      .about .holder #svg1 {
        height: 60px; } }
    .about .holder #svg1 .orange-square-grow,
    .about .holder #svg1 .blue-square-grow,
    .about .holder #svg1 .pink-square-grow {
      position: absolute;
      transform: translate(0px, 0px);
      opacity: 0; }
    .about .holder #svg1 .a-letter-grow,
    .about .holder #svg1 .h-letter-grow {
      transform-origin: center; }
    .about .holder #svg1 .orange-square-grow {
      animation: grow-slide 0.3s ease-in-out 1s 1 forwards; }
    .about .holder #svg1 .blue-square-grow {
      animation: grow-slide 0.5s ease-in-out 1s 1 forwards; }
    .about .holder #svg1 .pink-square-grow {
      animation: grow-slide 0.9s ease-in-out 1s 1 forwards; }
    .about .holder #svg1 .a-letter-grow,
    .about .holder #svg1 .h-letter-grow {
      opacity: 0;
      animation: grow 1s ease-in-out 1s 1 forwards; }

.about .about-text {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
  line-height: 3rem; }
  @media screen and (max-width: 600px) {
    .about .about-text {
      padding: 0; } }
  @media screen and (max-width: 600px) {
    .about .about-text .text {
      font-size: 4vw;
      line-height: 2rem;
      letter-spacing: 0.05rem; } }

.contact .contact-text {
  display: flex;
  padding: 0 2rem;
  max-width: 1000px;
  margin-top: 4rem;
  margin-left: 2rem; }
  @media screen and (max-width: 769px) {
    .contact .contact-text {
      align-self: flex-start;
      padding: 0;
      margin-left: 1rem;
      margin-top: 2rem; } }
  @media screen and (max-width: 600px) {
    .contact .contact-text {
      align-self: flex-start;
      padding: 0;
      margin-left: 0; } }
  .contact .contact-text .text {
    width: 70%;
    margin-right: auto;
    letter-spacing: 0.15rem;
    line-height: 2rem; }
    @media screen and (max-width: 769px) {
      .contact .contact-text .text {
        width: 100%; } }
  .contact .contact-text .pink-highlight {
    font-size: 2rem;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    background-color: #E8627B; }
    @media screen and (max-width: 769px) {
      .contact .contact-text .pink-highlight {
        font-size: 2rem; } }
    @media screen and (max-width: 600px) {
      .contact .contact-text .pink-highlight {
        margin-left: 0; } }

/*# sourceMappingURL=app.css.map */
