@keyframes underline-slide {
  0% {
    opacity: 0;
    left: -10px;
    right: 10px; }
  100% {
    opacity: 1;
    left: 0px;
    right: 0px; } }

@keyframes pulse {
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes pulse-pause {
  0% {
    transform: scale3d(1, 1, 1); }
  70% {
    transform: scale3d(1, 1, 1); }
  80% {
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    transform: scale3d(1, 1, 1); } }

@keyframes draw {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1400; }
  50% {
    stroke-dashoffset: 1400;
    stroke-dasharray: 300; }
  90% {
    stroke-dashoffset: 50;
    stroke-dasharray: 1200; } }

@keyframes bg-zoom {
  0% {
    background-size: 17%;
    background-position-y: 0%;
    background-position-x: 0%; }
  33% {
    background-position-x: 9%;
    background-position-y: 0%; }
  50% {
    background-size: 15%; }
  66% {
    background-position-x: 9%;
    background-position-y: 9%; }
  100% {
    background-size: 17%;
    background-position-y: 0%;
    background-position-x: 0%; } }

@keyframes background-slide {
  0% {
    background-position-x: 40%; }
  100% {
    background-position-x: 90%; } }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fafafa;
  background-color: #0f0f0f; }

h1::selection, h2::selection, h3::selection, h4::selection, p::selection {
  background: #82CACB; }

h1 {
  font-size: 7rem; }

h2 {
  font-size: 3rem; }

p {
  font-size: 1.7rem; }

a {
  color: #fafafa;
  text-decoration: none; }

.home {
  /* background by SVGBackgrounds.com */
  background-image: url("../img/endless-constellation.svg");
  background-attachment: fixed;
  background-size: 17%;
  background-position-x: 0%;
  transition: all .7s;
  animation: bg-zoom 25s ease-in-out 0s infinite alternate forwards running; }
  @media screen and (max-width: 770px) {
    .home {
      animation: none;
      background-size: 40%; } }

.about,
.contact {
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;
  background-blend-mode: screen; }

.about {
  background-image: url(../img/mountains.svg);
  /* background by SVGBackgrounds.com */
  /* Animations by myself, Andrew Hale */ }
  @media screen and (max-width: 770px) {
    .about {
      background-position-x: 40%;
      animation: background-slide 3s ease-in-out 0.7s 1 forwards; } }

.contact {
  background-image: url(../img/contact-bg.svg); }
  @media screen and (max-width: 770px) {
    .contact {
      background-position-x: 40%; } }

.reveal-page {
  margin: 0 auto;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1000px;
  opacity: 0; }
  @media screen and (max-width: 500px) {
    .reveal-page {
      padding: 1rem 2rem;
      margin: 0; } }
  @media screen and (max-width: 415px) {
    .reveal-page {
      padding-top: 0rem;
      margin: 0; } }
  .reveal-page .page-title {
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    position: relative; }
    .reveal-page .page-title:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 0.3rem;
      opacity: 0;
      left: -10px;
      right: 10px;
      animation: underline-slide 1s ease-in-out 0.5s 1 forwards; }
      @media screen and (max-width: 770px) {
        .reveal-page .page-title:before {
          margin-left: 0rem;
          height: 0.3rem; } }
    @media screen and (max-width: 770px) {
      .reveal-page .page-title {
        align-self: flex-start;
        font-size: 6rem;
        padding-left: 0rem; } }
    @media screen and (max-width: 500px) {
      .reveal-page .page-title {
        font-size: 5rem;
        margin-top: 0.5rem; } }
    @media screen and (max-width: 415px) {
      .reveal-page .page-title {
        font-size: 3rem;
        margin-top: 0.2rem; } }
  .reveal-page .page-text {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    margin-right: auto; }
    .reveal-page .page-text .text {
      letter-spacing: 0.12rem;
      line-height: 2.3rem; }
      @media screen and (max-width: 500px) {
        .reveal-page .page-text .text {
          font-size: 1.25rem; } }
      @media screen and (max-width: 415px) {
        .reveal-page .page-text .text {
          font-size: 0.9rem;
          letter-spacing: 0.07rem;
          line-height: 1.5rem; } }

#no-link {
  background: none;
  color: #fafafa;
  cursor: pointer; }

#map {
  height: 325px;
  width: 80vw;
  border-radius: 3px;
  margin: 2rem auto 0rem auto; }
  @media screen and (max-width: 770px) {
    #map {
      height: 225px; } }

.reveal-map {
  opacity: 0; }

.site-header {
  display: flex;
  width: 100%;
  padding: 2rem;
  height: auto; }
  @media screen and (max-width: 500px) {
    .site-header {
      padding: 1rem; } }
  .site-header .logo-holder {
    display: flex;
    align-items: center;
    height: fit-content; }
    @media screen and (max-width: 770px) {
      .site-header .logo-holder {
        margin-left: 0; } }
    .site-header .logo-holder .home-logo {
      height: 100px;
      width: auto; }
      @media screen and (max-width: 500px) {
        .site-header .logo-holder .home-logo {
          height: 60px; } }
      .site-header .logo-holder .home-logo:hover {
        animation-name: pulse;
        animation-duration: 500ms; }
      .site-header .logo-holder .home-logo .orange-square {
        stroke-dashoffset: 0;
        stroke-dasharray: 1400;
        animation: draw 4s ease-in-out 2s 1;
        fill-opacity: 0; }
      .site-header .logo-holder .home-logo .pink-square {
        stroke-dashoffset: 0;
        stroke-dasharray: 1400;
        animation: draw 5s ease-in-out 1s 1;
        fill-opacity: 0; }
  .site-header .main-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    max-height: 100px; }
    @media screen and (max-width: 500px) {
      .site-header .main-nav {
        padding-top: 0; } }
    .site-header .main-nav .tag {
      margin: 0 2rem;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      transition: background-size .07s ease-in-out;
      background: linear-gradient(to bottom, #fafafa 0%, #fafafa 100%);
      background-position: 0 50%;
      background-repeat: repeat-x;
      background-size: 0px 0px; }
      @media screen and (max-width: 770px) {
        .site-header .main-nav .tag {
          background: none;
          padding: 0.4rem;
          margin: 0 1rem;
          font-size: 1.3rem; } }
      @media screen and (max-width: 500px) {
        .site-header .main-nav .tag {
          padding: 0.4rem;
          margin: 0 0.3rem; } }
      .site-header .main-nav .tag:hover {
        background-size: 1px 40px;
        transition: background-size 0.07s ease-in-out; }

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 500px) {
      .footer .social-links {
        flex-direction: column; } }
  .footer .social-link {
    margin: 0rem 1rem;
    transition: transform 0.2s; }
    @media screen and (max-width: 770px) {
      .footer .social-link {
        transition: none; } }
    .footer .social-link:hover {
      transform: translateY(-5px);
      transition: transform 0.2s; }
      @media screen and (max-width: 770px) {
        .footer .social-link:hover {
          transform: translateY(0px);
          transition: none; } }
    .footer .social-link a img {
      height: 50px;
      width: auto; }
      @media screen and (max-width: 770px) {
        .footer .social-link a img {
          margin: 1rem 0;
          height: 30px; } }
      @media screen and (max-width: 500px) {
        .footer .social-link a img {
          margin: 0.5rem 0; } }
  .footer .copyright {
    margin-right: 1.5rem;
    align-self: center;
    color: #fafafa; }
    @media screen and (max-width: 770px) {
      .footer .copyright {
        margin-top: 1.8rem;
        font-size: 0.8rem;
        display: flex;
        align-self: center; } }
    @media screen and (max-width: 500px) {
      .footer .copyright {
        align-self: flex-end; } }

.home .tag {
  background: linear-gradient(to bottom, #82CACB 0%, #82CACB 100%); }
  .home .tag:hover {
    color: #282828;
    transition: background-size 0.07s ease-in-out; }
    @media screen and (max-width: 770px) {
      .home .tag:hover {
        color: #fafafa; } }

.home .main-title {
  margin-top: 8rem;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  letter-spacing: 0.4rem;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3); }
  @media screen and (max-width: 770px) {
    .home .main-title {
      letter-spacing: 0.18rem;
      font-size: 5.6rem; } }
  @media screen and (max-width: 500px) {
    .home .main-title {
      letter-spacing: 0;
      font-size: 4rem; } }
  .home .main-title:before {
    background: #E8627B;
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    height: 8px;
    width: -webkit-fill-available;
    left: 0px;
    right: 0px;
    z-index: -1;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3); }

.home .subtitle {
  margin-top: 0.2rem;
  font-size: 3.5rem;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3); }
  @media screen and (max-width: 770px) {
    .home .subtitle {
      font-size: 2rem; } }
  @media screen and (max-width: 500px) {
    .home .subtitle {
      font-size: 6vw; } }

.home #typewriter {
  display: flex;
  background-color: #82CACB;
  padding: 1rem;
  font-size: 2.5rem;
  margin: 1rem auto 0 auto; }
  @media screen and (max-width: 770px) {
    .home #typewriter {
      font-size: 2rem; } }
  @media screen and (max-width: 500px) {
    .home #typewriter {
      padding: 0.3rem;
      font-size: 8vw; } }
  .home #typewriter .Typewriter__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: #282828; }
  .home #typewriter .Typewriter__cursor {
    color: #282828; }

.about .tag:hover {
  color: #282828; }
  @media screen and (max-width: 770px) {
    .about .tag:hover {
      color: #fafafa; } }

.about .reveal-page {
  margin: 0;
  width: 70%; }
  @media screen and (max-width: 770px) {
    .about .reveal-page {
      width: 90%; } }
  .about .reveal-page .page-title:before {
    background: #fafafa; }
  @media screen and (max-width: 770px) {
    .about .reveal-page .page-text .text {
      font-size: 1.2rem; } }

.about .footer .copyright {
  margin-left: auto;
  color: #fafafa; }

.contact .tag:hover {
  color: #E8627B; }
  @media screen and (max-width: 770px) {
    .contact .tag:hover {
      color: #fafafa;
      background: none; } }

.contact .reveal-page {
  max-width: 90%; }
  .contact .reveal-page .page-title:before {
    background: #fafafa; }
  .contact .reveal-page .page-text.contact-info {
    justify-content: space-evenly;
    width: 100%;
    margin-right: 0; }
    .contact .reveal-page .page-text.contact-info .white-highlight {
      height: fit-content;
      align-self: center;
      font-size: 2rem;
      padding: 0.5rem 0.7rem;
      border-radius: 3px;
      background-color: #fafafa;
      color: #E8627B;
      margin-top: 0rem;
      animation: pulse-pause 2s ease-in-out 0s infinite forwards; }
      .contact .reveal-page .page-text.contact-info .white-highlight:hover {
        cursor: pointer;
        animation: none; }
      @media screen and (max-width: 770px) {
        .contact .reveal-page .page-text.contact-info .white-highlight {
          font-size: 2rem; } }
      @media screen and (max-width: 500px) {
        .contact .reveal-page .page-text.contact-info .white-highlight {
          margin-top: 4rem;
          font-size: 1.5rem; } }

.contact .copyright {
  color: #fafafa; }

/*# sourceMappingURL=app.css.map */
