.about {
    .tag {
        &:hover {
            color: $black;
            @media screen and (max-width: $bp-tablet) {
                color: $white;
            }
        }
    }
    .reveal-page {
        margin: 0;
        width: 70%;
        @media screen and (max-width: $bp-tablet) {
            width: 90%;
        }
        .page-title {
            &:before {
                background: $white;
            }
        }
        .page-text {
            .text {
                @media screen and (max-width: $bp-tablet) {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .footer {
        .copyright {
            margin-left: auto;
            color: $white;
        }
    }
}