.about {
    .holder {
        height:fit-content;
        width: 200px;
        float: left;
        #svg1 {
            position: relative;
            height: 100px;
            width: auto;
            @media screen and (max-width: $bp-phone) {
                height: 60px;
            }
            .orange-square-grow,
            .blue-square-grow,
            .pink-square-grow {
                position: absolute;
                transform: translate(0px, 0px);
                opacity: 0;
            }
            .a-letter-grow,
            .h-letter-grow {
                transform-origin: center;
            }
            .orange-square-grow {
                animation: grow-slide 0.3s ease-in-out 1s 1 forwards;
            }
            .blue-square-grow {
                animation: grow-slide 0.5s ease-in-out 1s 1 forwards;
            }
            .pink-square-grow {
                animation: grow-slide 0.9s ease-in-out 1s 1 forwards;
            }
            .a-letter-grow,
            .h-letter-grow {
                opacity: 0;
                animation: grow 1s ease-in-out 1s 1 forwards;
            }
        }
    }
}