.contact {
    .pink-highlight {
        font-size: 2rem;
        padding: 0.5rem 0.7rem;
        border-radius: $border-radius;
        background-color: $pink;
        margin-top: 10rem;
        @media screen and (max-width: $bp-tablet) {
            font-size: 2rem;
        }
    }
}

