.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $bp-phone) {
            flex-direction: column;
        }
    }
    .social-link {
        margin: 0rem 1rem;
        transition: transform 0.2s;
        @media screen and (max-width: $bp-tablet) {
            transition: none;
        }
        &:hover {
            @include hover-rise;
        }
        a {
            img {
                height: 50px;
                width: auto;
                @media screen and (max-width: $bp-tablet) {
                    margin: 1rem 0;
                    height: 30px;
                }
                @media screen and (max-width: $bp-phone) {
                    margin: 0.5rem 0;
                }
            }
        }
    }
    .copyright {
        margin-right: 1.5rem;
        align-self: center;
        color: $copyright-color;
        @media screen and (max-width: $bp-tablet) {
            margin-top: 1.8rem;
            font-size: 0.8rem;
            display: flex;
            align-self: center;
        }
        @media screen and (max-width: $bp-phone) {
            align-self: flex-end;
        }
    }
}