.site-header {
    display: flex;
    width: 100vw;
    padding: 1rem;
    margin: 1rem;
    height: auto;
    .logo-holder {
        display: flex;
        align-items: center;
        @media screen and (max-width: $breakpoint-tablet) {
            margin-left: 0;
        }
        img {
            height: 100px;
            width: auto;
            &:hover {
                animation-name: pulse;
                animation-duration: 500ms;
            }
        }
    }
    .main-nav {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: $breakpoint-tablet) {
            padding: 0 1rem;
        }
        .tag {
            background:
            linear-gradient(
                to bottom, $blue 0%,
                $blue 100%
            );
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 0px 0px;
            text-decoration: none;
            transition: background-size .07s ease-in-out;
            @media screen and (max-width: $breakpoint-tablet) {
                margin: 0 0.3rem;
                font-size: 1.2rem;
            }
            &:hover {
                background-size: 1px 40px;
            }
        }
        a {
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50px;
            list-style: none;
            margin: 0 2rem;
            padding: 1rem;
            &:hover {
                color: $black;
            }
        }
    }
}