.site-header {
    display: flex;
    width: 100%;
    padding: 2rem;
    height: auto;
    @media screen and (max-width: $bp-phone) {
        padding: 1rem;
    }
    .logo-holder {
        display: flex;
        align-items: center;
        height: fit-content;
        @media screen and (max-width: $bp-tablet) {
            margin-left: 0;
        }
        .home-logo {
            height: 100px;
            width: auto;
            @media screen and (max-width: $bp-phone) {
                height: 60px;
            }
            &:hover {
                animation-name: pulse;
                animation-duration: 500ms;
            }
            .orange-square {
                stroke-dashoffset:0;
                stroke-dasharray:1400;
                animation: draw 4s ease-in-out 2s 1;
                fill-opacity: 0;
            }
            .pink-square {
                stroke-dashoffset:0;
                stroke-dasharray:1400;
                animation: draw 5s ease-in-out 1s 1;
                fill-opacity: 0;
            }
        }
    }
    .main-nav {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1rem;
        max-height: 100px;
        @media screen and (max-width: $bp-phone) {
            padding-top: 0;
        }
        .tag {
            margin: 0 2rem;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
            transition: background-size .07s ease-in-out;
            background: linear-gradient(to bottom, $white 0%, $white 100%);
            background-position: 0 50%;
            background-repeat: repeat-x;
            background-size: 0px 0px;
            @media screen and (max-width: $bp-tablet) {
                background: none;
                padding: 0.4rem;
                margin: 0 1rem;
                font-size: 1.3rem;
            }
            @media screen and (max-width: $bp-phone) {
                padding: 0.4rem;
                margin: 0 0.3rem;
            }
            &:hover {
                background-size: 1px 40px;
                transition: background-size 0.07s ease-in-out;
            }
        }
    }
}
