.home {
    .main-title {
        margin: 0;
        padding: 0;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            height: 5px;
            width: -webkit-fill-available;
            background: $pink;
            left: 0px;
            right: 0px;
            z-index: 0;
        }
        @media screen and (max-width: $breakpoint-tablet) {
            margin-top: 4rem;
            font-size: 6rem;
        }
        @media screen and (max-width: $breakpoint-phone) {
            font-size: 4.9rem;
        }
        @media screen and (max-width: $breakpoint-xs) {
            font-size: 4rem;
            padding: 0 1rem;
            margin-top: 3rem;
            text-align: center;
        }
    }
    .subtitle {
        margin-top: 1rem;
        font-size: 3rem;
        @media screen and (max-width: $breakpoint-phone) {
            font-size: 2rem;
            margin-top: 0.6rem;
        }
        @media screen and (max-width: $breakpoint-phone) {
            font-size: 1.6rem;
            margin-top: 0.6rem;
        }
    }
    #typewriter {
        display: flex;
        background-color: $blue;
        padding: 1rem;
        font-size: 4rem;
        margin: 4rem auto 0 auto;
        @media screen and (max-width: $breakpoint-tablet) {
            font-size: 4.5vw;
        }
        @media screen and (max-width: $breakpoint-xs) {
            margin: 1rem auto 0 auto;
            padding: 0.3rem;
            font-size: 8vw;
        }
        .Typewriter__wrapper {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            color: $black;
        }
        .Typewriter__cursor {
            color: $black;
        }
    }
}