body.bg-zoom {
    /* background by SVGBackgrounds.com */
    background-image: url('../img/endless-constellation.svg');
    background-attachment: fixed;
    background-size: 17%;
    background-position: 0%;
    transition: all .7s;
    animation: bg-zoom 25s ease-in-out 0s infinite alternate forwards running;
    @media screen and (max-width: $bp-tablet) {
        animation: none;
        background-size: 40%;
    }
}

body.about,
body.contact {
    display: flex;
    justify-content: space-between;
}

body.about {
    background-image: url(../img/mountains.svg);
    /* background by SVGBackgrounds.com */
    background-size: cover;
    background-position: 90%;
    background-repeat: no-repeat;
}
body.contact {
    background-image: url(../img/contact-bg.svg);
    /* background by SVGBackgrounds.com */
    background-size: cover;
    background-position: 90%;
    background-repeat: no-repeat;
}



.reveal-sun {
    opacity: 0;
}

.reveal-page {
    margin: 0 auto;
    padding: 1rem 2rem 0 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1000px;
    opacity: 0;
    @media screen and (max-width: $bp-phone) {
        padding: 1rem 2rem;
        margin: 0;
    }
    @media screen and (max-width: $bp-xs) {
        padding-top: 0rem;
        margin: 0;
    }
    .page-title {
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            height: 0.3rem;
            background: $pink;
            opacity: 0;
            left: -10px;
            right: 10px;
            animation: underline-slide 1s ease-in-out 0.5s 1 forwards;
            @media screen and (max-width: $bp-tablet) {
                margin-left: 0rem;
                height: 0.3rem;
            }
        }
        @media screen and (max-width: $bp-tablet) {
            align-self: flex-start;
            font-size: 6rem;
            padding-left: 0rem;
        }
        @media screen and (max-width: $bp-phone) {
            font-size: 5rem;
            margin-top: 0.5rem;
        }
        @media screen and (max-width: $bp-xs) {
            font-size: 3rem;
            margin-top: 0.2rem;
        }
    }
    .page-text {
        display: flex;
        flex-direction: column;
        padding-left: 0rem;
        // padding-right: 2rem;
        margin-right: auto;
        .text {
            letter-spacing: 0.12rem;
            line-height: 2.3rem;
            @media screen and (max-width: $bp-phone) {
                font-size: 1.25rem;
            }
            @media screen and (max-width: $bp-xs) {
                font-size: 0.9rem;
                letter-spacing: 0.07rem;
                line-height: 1.5rem;
            }
        }
    }
}

 #no-link {
    background: none;
    cursor: pointer;
 }

 #map {
    height: 325px;
    width: 80vw;
    border-radius: $border-radius;
    margin: 2rem auto 0rem auto;
    @media screen and (max-width: $bp-tablet) {
        height: 225px;
    }
}

.reveal-map {
    opacity: 0;
}